In [0]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
sns.set()
# Access data using Google BigQuery.
from google.colab import auth
from google.cloud import bigquery

In [75]:
auth.authenticate_user()
print('Authenticated')

Authenticated

In [0]:
project_id='eicudata'

# Extracting features from the eICU dataset for Mortality and los prediction

In [0]:
%%bigquery --project $project_id rawdf
select b.patientunitstayid,unitvisitnumber, gender,age,ethnicity,apacheadmissiondx,admissionheight,admissionweight, temperature,respiratoryrate,heartrate,glucose,fio2,creatinine,ph,hospitaldischargestatus,unitdischargestatus,(unitdischargeoffset-hospitaladmitoffset)/60/24 as ICUstay
from `physionet-data.eicu_crd.apacheapsvar` a
join `physionet-data.eicu_crd.patient` b ON (
a.patientunitstayid =b.patientunitstayid
)
order by uniquepid

In [78]:
rawdf

        patientunitstayid  unitvisitnumber  ... unitdischargestatus   ICUstay
0                  224606                1  ...               Alive  3.031250
1                  204602                1  ...               Alive  4.201389
2                  157016                1  ...               Alive  5.210417
3                  211144                1  ...               Alive  3.893056
4                  221005                1  ...               Alive  2.803472
...                   ...              ...  ...                 ...       ...
171172            3351785                1  ...               Alive  1.790278
171173            3340321                1  ...               Alive  2.689583
171174            3345874                1  ...               Alive  1.968056
171175            3352628                1  ...               Alive  1.481250
171176            3340712                1  ...               Alive  5.874306

[171177 rows x 18 columns]

## Finding number of missing or null values -

In [79]:
rawdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171177 entries, 0 to 171176
Data columns (total 18 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   patientunitstayid        171177 non-null  int64
 1   unitvisitnumber          171177 non-null  int64
 2   gender                   171177 non-null  object
 3   age                      171177 non-null  object
 4   ethnicity                171177 non-null  object
 5   apacheadmissiondx        171177 non-null  object
 6   admissionheight          167853 non-null  float64
 7   admissionweight          164555 non-null  float64
 8   temperature              171177 non-null  float64
 9   respiratoryrate          171177 non-null  float64
 10  heartrate                171177 non-null  int64
 11  glucose                  171177 non-null  float64
 12  fio2                     171177 non-null  float64
 13  creatinine               171177 non-null  float64
 14  ph                       171177 non-null  float64
 15  hospitaldischargestatus  171177 non-null  object
 16  unitdischargestatus      171177 non-null  object
 17  ICUstay                  171177 non-null  float64
dtypes: float64(9), int64(3), object(6)
memory usage: 23.5+ MB

## Statistics of the features for preprocessing -

In [80]:
rawdf.describe(include='all')

        patientunitstayid  unitvisitnumber  ... unitdischargestatus        ICUstay
count        1.711770e+05    171177.000000  ...              171177  171177.000000
unique                NaN              NaN  ...                   3            NaN
top                   NaN              NaN  ...               Alive            NaN
freq                  NaN              NaN  ...              161148            NaN
mean         1.747701e+06         1.151048  ...                 NaN       4.254612
std          9.988850e+05         0.508644  ...                 NaN       6.893154
min          1.411680e+05         1.000000  ...                 NaN      -0.210417
25%          9.555340e+05         1.000000  ...                 NaN       1.209028
50%          1.670376e+06         1.000000  ...                 NaN       2.236111
75%          2.743419e+06         1.000000  ...                 NaN       4.772222
max          3.353263e+06        18.000000  ...                 NaN     749.036111

[11 rows x 18 columns]

## Impute missing values for Admission height and Admission weight

In [0]:
rawdf['admissionheight']=rawdf.admissionheight.fillna(rawdf.admissionheight.median())
rawdf['admissionweight']=rawdf.admissionweight.fillna(rawdf.admissionweight.median())

In [82]:
rawdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171177 entries, 0 to 171176
Data columns (total 18 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   patientunitstayid        171177 non-null  int64
 1   unitvisitnumber          171177 non-null  int64
 2   gender                   171177 non-null  object
 3   age                      171177 non-null  object
 4   ethnicity                171177 non-null  object
 5   apacheadmissiondx        171177 non-null  object
 6   admissionheight          171177 non-null  float64
 7   admissionweight          171177 non-null  float64
 8   temperature              171177 non-null  float64
 9   respiratoryrate          171177 non-null  float64
 10  heartrate                171177 non-null  int64
 11  glucose                  171177 non-null  float64
 12  fio2                     171177 non-null  float64
 13  creatinine               171177 non-null  float64
 14  ph                       171177 non-null  float64
 15  hospitaldischargestatus  171177 non-null  object
 16  unitdischargestatus      171177 non-null  object
 17  ICUstay                  171177 non-null  float64
dtypes: float64(9), int64(3), object(6)
memory usage: 23.5+ MB

## Convert age values to numeric

In [0]:
rawdf['age'].replace({'> 89': '90'}, inplace=True)
rawdf['age']=rawdf['age'].apply(pd.to_numeric)

In [84]:
rawdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171177 entries, 0 to 171176
Data columns (total 18 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   patientunitstayid        171177 non-null  int64
 1   unitvisitnumber          171177 non-null  int64
 2   gender                   171177 non-null  object
 3   age                      171109 non-null  float64
 4   ethnicity                171177 non-null  object
 5   apacheadmissiondx        171177 non-null  object
 6   admissionheight          171177 non-null  float64
 7   admissionweight          171177 non-null  float64
 8   temperature              171177 non-null  float64
 9   respiratoryrate          171177 non-null  float64
 10  heartrate                171177 non-null  int64
 11  glucose                  171177 non-null  float64
 12  fio2                     171177 non-null  float64
 13  creatinine               171177 non-null  float64
 14  ph                       171177 non-null  float64
 15  hospitaldischargestatus  171177 non-null  object
 16  unitdischargestatus      171177 non-null  object
 17  ICUstay                  171177 non-null  float64
dtypes: float64(10), int64(3), object(5)
memory usage: 23.5+ MB

## Age has some null values. Removing unknown/other category in gender and ethnicity. :

In [0]:
missing = rawdf[(rawdf['gender'] == '') |(rawdf['gender'] == 'Other')|(rawdf['gender'] == 'Unknown')| (rawdf['ethnicity'] == '')|(rawdf['ethnicity'] == 'Other/Unknown')|(rawdf['unitdischargestatus']=='')|(rawdf['hospitaldischargestatus']=='')].index
rawdf = rawdf.drop(index=missing)
rawdf = rawdf.dropna()

## Checking if we have no more missing or ambiguous values for features

In [86]:
rawdf.isnull().sum()

patientunitstayid          0
unitvisitnumber            0
gender                     0
age                        0
ethnicity                  0
apacheadmissiondx          0
admissionheight            0
admissionweight            0
temperature                0
respiratoryrate            0
heartrate                  0
glucose                    0
fio2                       0
creatinine                 0
ph                         0
hospitaldischargestatus    0
unitdischargestatus        0
ICUstay                    0
dtype: int64

## Exclusion criteria for mortality prediction
            age <= 18 and age >= 89
            more than 1 ICU stay
            los < 48h

In [87]:
excl = rawdf[(rawdf['age']<= 18) | (rawdf['age']>=89) |(rawdf['unitvisitnumber']>1)| (rawdf['ICUstay']<2)].index
rawdf = rawdf.drop(index=excl)
rawdf

        patientunitstayid  unitvisitnumber  ... unitdischargestatus   ICUstay
0                  224606                1  ...               Alive  3.031250
1                  204602                1  ...               Alive  4.201389
2                  157016                1  ...               Alive  5.210417
3                  211144                1  ...               Alive  3.893056
4                  221005                1  ...               Alive  2.803472
...                   ...              ...  ...                 ...       ...
171169            3351729                1  ...               Alive  6.891667
171170            3340416                1  ...               Alive  3.617361
171171            3329614                1  ...               Alive  3.704167
171173            3340321                1  ...               Alive  2.689583
171176            3340712                1  ...               Alive  5.874306

[70250 rows x 18 columns]

In [88]:
rawdf.describe(include='all')

        patientunitstayid  unitvisitnumber  ... unitdischargestatus       ICUstay
count        7.025000e+04          70250.0  ...               70250  70250.000000
unique                NaN              NaN  ...                   2           NaN
top                   NaN              NaN  ...               Alive           NaN
freq                  NaN              NaN  ...               65829           NaN
mean         1.773296e+06              1.0  ...                 NaN      5.964793
std          1.011975e+06              0.0  ...                 NaN      7.515822
min          1.411680e+05              1.0  ...                 NaN      2.000000
25%          9.728780e+05              1.0  ...                 NaN      2.770139
50%          1.646298e+06              1.0  ...                 NaN      3.998611
75%          2.804245e+06              1.0  ...                 NaN      6.831250
max          3.353251e+06              1.0  ...                 NaN    749.036111

[11 rows x 18 columns]

## Encoding the categorical values

In [0]:
lb_make = LabelEncoder()

In [90]:
rawdf['ethnicity_code'] = lb_make.fit_transform(rawdf['ethnicity'])
rawdf['diag_code'] = lb_make.fit_transform(rawdf['apacheadmissiondx'])
rawdf['gender_code'] = rawdf['gender'].map({"Male":0,"Female":1})
rawdf['hosp_alive'] = rawdf['hospitaldischargestatus'].map({"Expired":0,"Alive":1})
rawdf['icu_alive'] = rawdf['unitdischargestatus'].map({"Expired":0,"Alive":1})
rawdf

        patientunitstayid  unitvisitnumber  ... hosp_alive  icu_alive
0                  224606                1  ...          1          1
1                  204602                1  ...          1          1
2                  157016                1  ...          1          1
3                  211144                1  ...          1          1
4                  221005                1  ...          1          1
...                   ...              ...  ...        ...        ...
171169            3351729                1  ...          1          1
171170            3340416                1  ...          1          1
171171            3329614                1  ...          0          1
171173            3340321                1  ...          1          1
171176            3340712                1  ...          1          1

[70250 rows x 23 columns]

## Handling outliers
### There are outliers in columns : admissionheight,admissionweight

In [91]:
rawdf.describe()

       patientunitstayid  unitvisitnumber  ...    hosp_alive     icu_alive
count       7.025000e+04          70250.0  ...  70250.000000  70250.000000
mean        1.773296e+06              1.0  ...      0.893722      0.937068
std         1.011975e+06              0.0  ...      0.308195      0.242843
min         1.411680e+05              1.0  ...      0.000000      0.000000
25%         9.728780e+05              1.0  ...      1.000000      1.000000
50%         1.646298e+06              1.0  ...      1.000000      1.000000
75%         2.804245e+06              1.0  ...      1.000000      1.000000
max         3.353251e+06              1.0  ...      1.000000      1.000000

[8 rows x 18 columns]

In [0]:
rawdf['admissionheight'] = np.where(rawdf['admissionheight']<rawdf['admissionheight'].quantile(0.10),rawdf['admissionheight'].quantile(0.10),rawdf['admissionheight'])
rawdf['admissionheight'] = np.where(rawdf['admissionheight']>rawdf['admissionheight'].quantile(0.90),rawdf['admissionheight'].quantile(0.90),rawdf['admissionheight'])
rawdf['admissionweight'] = np.where(rawdf['admissionweight']<rawdf['admissionweight'].quantile(0.10),rawdf['admissionweight'].quantile(0.10),rawdf['admissionweight'])
rawdf['admissionweight'] = np.where(rawdf['admissionweight']>rawdf['admissionweight'].quantile(0.90),rawdf['admissionweight'].quantile(0.90),rawdf['admissionweight'])
rawdf['temperature'] = np.where(rawdf['temperature']<rawdf['temperature'].quantile(0.10),rawdf['temperature'].quantile(0.10),rawdf['temperature'])
rawdf['respiratoryrate'] = np.where(rawdf['respiratoryrate']<rawdf['respiratoryrate'].quantile(0.10),rawdf['respiratoryrate'].quantile(0.10),rawdf['respiratoryrate'])
rawdf['heartrate'] = np.where(rawdf['heartrate']<rawdf['heartrate'].quantile(0.10),rawdf['heartrate'].quantile(0.10),rawdf['heartrate'])
rawdf['glucose'] = np.where(rawdf['glucose']<rawdf['glucose'].quantile(0.10),rawdf['glucose'].quantile(0.10),rawdf['glucose'])
rawdf['glucose'] = np.where(rawdf['glucose']>rawdf['glucose'].quantile(0.90),rawdf['glucose'].quantile(0.90),rawdf['glucose'])

In [94]:
print(rawdf['temperature'].quantile(0.10))
print(rawdf['respiratoryrate'].quantile(0.10))
print(rawdf['heartrate'].quantile(0.10))
print(rawdf['glucose'].quantile(0.10))
print(rawdf['fio2'].quantile(0.10))
print(rawdf['creatinine'].quantile(0.15))
print(rawdf['ph'].quantile(0.15))

35.1
7.0
55.0
55.0
-1.0
-1.0
-1.0

In [103]:
#index = rawdf[(rawdf['fio2']==-1)|(rawdf['creatinine']==-1)|(rawdf['ph']==-1)].index
index = rawdf[(rawdf['ph']==-1)].index
#rawdf.drop(index=index,inplace=True)
#rawdf
index

Int64Index([     1,      2,      6,      7,      8,     10,     13,     15,
                25,     26,
            ...
            171138, 171145, 171149, 171151, 171153, 171157, 171164, 171166,
            171171, 171173],
           dtype='int64', length=47490)

In [95]:
rawdf.describe()
rawdf.skew()

patientunitstayid     0.039418
unitvisitnumber       0.000000
age                  -0.654384
admissionheight      -0.083459
admissionweight       0.336061
temperature           1.296816
respiratoryrate       0.280437
heartrate            -0.100728
glucose               0.491053
fio2                  1.411862
creatinine            2.875076
ph                    0.752830
ICUstay              32.567965
ethnicity_code       -1.410416
diag_code             0.006570
gender_code           0.188739
hosp_alive           -2.555096
icu_alive            -3.599692
dtype: float64

In [58]:
rawdf.drop(['patientunitstayid','apacheadmissiondx','ethnicity','gender','unitdischargestatus','hospitaldischargestatus'],axis=1)

        unitvisitnumber   age  ...  icu_alive  diag_code
0                     1  76.0  ...          1        172
1                     1  29.0  ...          1         92
2                     1  23.0  ...          1        168
3                     1  67.0  ...          1         34
4                     1  68.0  ...          1        119
...                 ...   ...  ...        ...        ...
171169                1  64.0  ...          1         60
171170                1  64.0  ...          1         60
171171                1  71.0  ...          1        209
171173                1  44.0  ...          1        229
171176                1  69.0  ...          1         24

[70250 rows x 18 columns]