In [0]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
sns.set()
# Access data using Google BigQuery.
from google.colab import auth
from google.cloud import bigquery

In [55]:
auth.authenticate_user()
print('Authenticated')

Authenticated

In [0]:
project_id='eicudata'

# Extracting features from the eICU dataset for Mortality and los prediction

In [0]:
%%bigquery --project $project_id rawdf
select b.patientunitstayid,unitvisitnumber, gender,age,ethnicity,apacheadmissiondx,admissionheight,admissionweight, temperature,respiratoryrate,heartrate,glucose,fio2,creatinine,ph,hospitaldischargestatus,unitdischargestatus,(unitdischargeoffset-hospitaladmitoffset)/60/24 as ICUstay
from `physionet-data.eicu_crd.apacheapsvar` a
join `physionet-data.eicu_crd.patient` b ON (
a.patientunitstayid =b.patientunitstayid
)
order by uniquepid

In [58]:
rawdf

        patientunitstayid  unitvisitnumber  ... unitdischargestatus   ICUstay
0                  224606                1  ...               Alive  3.031250
1                  204602                1  ...               Alive  4.201389
2                  157016                1  ...               Alive  5.210417
3                  211144                1  ...               Alive  3.893056
4                  221005                1  ...               Alive  2.803472
...                   ...              ...  ...                 ...       ...
171172            3351785                1  ...               Alive  1.790278
171173            3340321                1  ...               Alive  2.689583
171174            3345874                1  ...               Alive  1.968056
171175            3352628                1  ...               Alive  1.481250
171176            3340712                1  ...               Alive  5.874306

[171177 rows x 18 columns]

## Finding number of missing or null values -

In [59]:
rawdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171177 entries, 0 to 171176
Data columns (total 18 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   patientunitstayid        171177 non-null  int64
 1   unitvisitnumber          171177 non-null  int64
 2   gender                   171177 non-null  object
 3   age                      171177 non-null  object
 4   ethnicity                171177 non-null  object
 5   apacheadmissiondx        171177 non-null  object
 6   admissionheight          167853 non-null  float64
 7   admissionweight          164555 non-null  float64
 8   temperature              171177 non-null  float64
 9   respiratoryrate          171177 non-null  float64
 10  heartrate                171177 non-null  int64
 11  glucose                  171177 non-null  float64
 12  fio2                     171177 non-null  float64
 13  creatinine               171177 non-null  float64
 14  ph                       171177 non-null  float64
 15  hospitaldischargestatus  171177 non-null  object
 16  unitdischargestatus      171177 non-null  object
 17  ICUstay                  171177 non-null  float64
dtypes: float64(9), int64(3), object(6)
memory usage: 23.5+ MB

## Statistics of the features for preprocessing -

In [60]:
rawdf.describe(include='all')

        patientunitstayid  unitvisitnumber  ... unitdischargestatus        ICUstay
count        1.711770e+05    171177.000000  ...              171177  171177.000000
unique                NaN              NaN  ...                   3            NaN
top                   NaN              NaN  ...               Alive            NaN
freq                  NaN              NaN  ...              161148            NaN
mean         1.747701e+06         1.151048  ...                 NaN       4.254612
std          9.988850e+05         0.508644  ...                 NaN       6.893154
min          1.411680e+05         1.000000  ...                 NaN      -0.210417
25%          9.555340e+05         1.000000  ...                 NaN       1.209028
50%          1.670376e+06         1.000000  ...                 NaN       2.236111
75%          2.743419e+06         1.000000  ...                 NaN       4.772222
max          3.353263e+06        18.000000  ...                 NaN     749.036111

[11 rows x 18 columns]

## Impute missing values for Admission height and Admission weight

In [0]:
rawdf['admissionheight']=rawdf.admissionheight.fillna(rawdf.admissionheight.median())
rawdf['admissionweight']=rawdf.admissionweight.fillna(rawdf.admissionweight.median())

In [62]:
rawdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171177 entries, 0 to 171176
Data columns (total 18 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   patientunitstayid        171177 non-null  int64
 1   unitvisitnumber          171177 non-null  int64
 2   gender                   171177 non-null  object
 3   age                      171177 non-null  object
 4   ethnicity                171177 non-null  object
 5   apacheadmissiondx        171177 non-null  object
 6   admissionheight          171177 non-null  float64
 7   admissionweight          171177 non-null  float64
 8   temperature              171177 non-null  float64
 9   respiratoryrate          171177 non-null  float64
 10  heartrate                171177 non-null  int64
 11  glucose                  171177 non-null  float64
 12  fio2                     171177 non-null  float64
 13  creatinine               171177 non-null  float64
 14  ph                       171177 non-null  float64
 15  hospitaldischargestatus  171177 non-null  object
 16  unitdischargestatus      171177 non-null  object
 17  ICUstay                  171177 non-null  float64
dtypes: float64(9), int64(3), object(6)
memory usage: 23.5+ MB

## Convert age values to numeric

In [0]:
rawdf['age'].replace({'> 89': '90'}, inplace=True)
rawdf['age']=rawdf['age'].apply(pd.to_numeric)

In [64]:
rawdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171177 entries, 0 to 171176
Data columns (total 18 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   patientunitstayid        171177 non-null  int64
 1   unitvisitnumber          171177 non-null  int64
 2   gender                   171177 non-null  object
 3   age                      171109 non-null  float64
 4   ethnicity                171177 non-null  object
 5   apacheadmissiondx        171177 non-null  object
 6   admissionheight          171177 non-null  float64
 7   admissionweight          171177 non-null  float64
 8   temperature              171177 non-null  float64
 9   respiratoryrate          171177 non-null  float64
 10  heartrate                171177 non-null  int64
 11  glucose                  171177 non-null  float64
 12  fio2                     171177 non-null  float64
 13  creatinine               171177 non-null  float64
 14  ph                       171177 non-null  float64
 15  hospitaldischargestatus  171177 non-null  object
 16  unitdischargestatus      171177 non-null  object
 17  ICUstay                  171177 non-null  float64
dtypes: float64(10), int64(3), object(5)
memory usage: 23.5+ MB

## Age has some null values. Removing unknown/other category in gender and ethnicity. :

In [0]:
missing = rawdf[(rawdf['gender'] == '') |(rawdf['gender'] == 'Other')|(rawdf['gender'] == 'Unknown')| (rawdf['ethnicity'] == '')|(rawdf['unitdischargestatus']=='')|(rawdf['hospitaldischargestatus']=='')].index
rawdf = rawdf.drop(index=missing)
rawdf = rawdf.dropna()

## Checking if we have anymore more missing or ambiguous values for features

In [66]:
rawdf.isnull().sum()

patientunitstayid          0
unitvisitnumber            0
gender                     0
age                        0
ethnicity                  0
apacheadmissiondx          0
admissionheight            0
admissionweight            0
temperature                0
respiratoryrate            0
heartrate                  0
glucose                    0
fio2                       0
creatinine                 0
ph                         0
hospitaldischargestatus    0
unitdischargestatus        0
ICUstay                    0
dtype: int64

In [67]:
rawdf

        patientunitstayid  unitvisitnumber  ... unitdischargestatus   ICUstay
0                  224606                1  ...               Alive  3.031250
1                  204602                1  ...               Alive  4.201389
2                  157016                1  ...               Alive  5.210417
3                  211144                1  ...               Alive  3.893056
4                  221005                1  ...               Alive  2.803472
...                   ...              ...  ...                 ...       ...
171172            3351785                1  ...               Alive  1.790278
171173            3340321                1  ...               Alive  2.689583
171174            3345874                1  ...               Alive  1.968056
171175            3352628                1  ...               Alive  1.481250
171176            3340712                1  ...               Alive  5.874306

[167500 rows x 18 columns]

## Exclusion criteria for mortality prediction
            age <= 18 and age >= 89
            more than 1 ICU stay
            los < 48h

In [68]:
excl = rawdf[(rawdf['age']<= 18) | (rawdf['age']>=89) |(rawdf['unitvisitnumber']>1)| (rawdf['ICUstay']<2)].index
rawdf = rawdf.drop(index=excl)
rawdf

        patientunitstayid  unitvisitnumber  ... unitdischargestatus   ICUstay
0                  224606                1  ...               Alive  3.031250
1                  204602                1  ...               Alive  4.201389
2                  157016                1  ...               Alive  5.210417
3                  211144                1  ...               Alive  3.893056
4                  221005                1  ...               Alive  2.803472
...                   ...              ...  ...                 ...       ...
171169            3351729                1  ...               Alive  6.891667
171170            3340416                1  ...               Alive  3.617361
171171            3329614                1  ...               Alive  3.704167
171173            3340321                1  ...               Alive  2.689583
171176            3340712                1  ...               Alive  5.874306

[73854 rows x 18 columns]

In [69]:
rawdf.describe(include='all')

        patientunitstayid  unitvisitnumber  ... unitdischargestatus       ICUstay
count        7.385400e+04          73854.0  ...               73854  73854.000000
unique                NaN              NaN  ...                   2           NaN
top                   NaN              NaN  ...               Alive           NaN
freq                  NaN              NaN  ...               69194           NaN
mean         1.777731e+06              1.0  ...                 NaN      5.976045
std          1.005705e+06              0.0  ...                 NaN      7.474907
min          1.411680e+05              1.0  ...                 NaN      2.000000
25%          9.752198e+05              1.0  ...                 NaN      2.772917
50%          1.660696e+06              1.0  ...                 NaN      4.003472
75%          2.804134e+06              1.0  ...                 NaN      6.841493
max          3.353251e+06              1.0  ...                 NaN    749.036111

[11 rows x 18 columns]

## Encoding the categorical values
### Adding columns having the encoded values for ethnicity, admission diagnosis, gender, hospital and ICU discharge status

In [0]:
lb_make = LabelEncoder()
rawdf['ethnicity'] =rawdf['ethnicity'].astype('category')
rawdf['gender'] =rawdf['gender'].astype('category')
rawdf['hospitaldischargestatus'] =rawdf['hospitaldischargestatus'].astype('category')
rawdf['unitdischargestatus'] =rawdf['unitdischargestatus'].astype('category')
rawdf['apacheadmissiondx'] =rawdf['apacheadmissiondx'].astype('category')

In [71]:
rawdf['ethnicity_code'] = lb_make.fit_transform(rawdf['ethnicity'])
rawdf['diag_code'] = lb_make.fit_transform(rawdf['apacheadmissiondx'])
rawdf['gender_code'] = rawdf['gender'].map({"Male":0,"Female":1})
rawdf['hosp_alive'] = rawdf['hospitaldischargestatus'].map({"Expired":0,"Alive":1})
rawdf['icu_alive'] = rawdf['unitdischargestatus'].map({"Expired":0,"Alive":1})
rawdf

        patientunitstayid  unitvisitnumber  ... hosp_alive  icu_alive
0                  224606                1  ...          1          1
1                  204602                1  ...          1          1
2                  157016                1  ...          1          1
3                  211144                1  ...          1          1
4                  221005                1  ...          1          1
...                   ...              ...  ...        ...        ...
171169            3351729                1  ...          1          1
171170            3340416                1  ...          1          1
171171            3329614                1  ...          0          1
171173            3340321                1  ...          1          1
171176            3340712                1  ...          1          1

[73854 rows x 23 columns]

## Handling outliers
### There are outliers in columns : admissionheight,admissionweight
###  Maximum values are way beyond 90th percentile

In [72]:
rawdf.describe()

       patientunitstayid  unitvisitnumber  ...  ethnicity_code     diag_code
count       7.385400e+04          73854.0  ...    73854.000000  73854.000000
mean        1.777731e+06              1.0  ...        1.935535    192.355539
std         1.005705e+06              0.0  ...        1.003049    116.360892
min         1.411680e+05              1.0  ...        0.000000      0.000000
25%         9.752198e+05              1.0  ...        2.000000     73.000000
50%         1.660696e+06              1.0  ...        2.000000    189.000000
75%         2.804134e+06              1.0  ...        2.000000    322.000000
max         3.353251e+06              1.0  ...        5.000000    389.000000

[8 rows x 15 columns]

### Quantile based flooring and capping for height, weight, temperature, respiratory rate, heartrate,glucose

In [0]:
rawdf['admissionheight'] = np.where(rawdf['admissionheight']<rawdf['admissionheight'].quantile(0.10),rawdf['admissionheight'].quantile(0.10),rawdf['admissionheight'])
rawdf['admissionheight'] = np.where(rawdf['admissionheight']>rawdf['admissionheight'].quantile(0.90),rawdf['admissionheight'].quantile(0.90),rawdf['admissionheight'])
rawdf['admissionweight'] = np.where(rawdf['admissionweight']<rawdf['admissionweight'].quantile(0.10),rawdf['admissionweight'].quantile(0.10),rawdf['admissionweight'])
rawdf['admissionweight'] = np.where(rawdf['admissionweight']>rawdf['admissionweight'].quantile(0.90),rawdf['admissionweight'].quantile(0.90),rawdf['admissionweight'])
rawdf['temperature'] = np.where(rawdf['temperature']<rawdf['temperature'].quantile(0.10),rawdf['temperature'].quantile(0.10),rawdf['temperature'])
rawdf['respiratoryrate'] = np.where(rawdf['respiratoryrate']<rawdf['respiratoryrate'].quantile(0.10),rawdf['respiratoryrate'].quantile(0.10),rawdf['respiratoryrate'])
rawdf['heartrate'] = np.where(rawdf['heartrate']<rawdf['heartrate'].quantile(0.10),rawdf['heartrate'].quantile(0.10),rawdf['heartrate'])
rawdf['glucose'] = np.where(rawdf['glucose']<rawdf['glucose'].quantile(0.10),rawdf['glucose'].quantile(0.10),rawdf['glucose'])
rawdf['glucose'] = np.where(rawdf['glucose']>rawdf['glucose'].quantile(0.90),rawdf['glucose'].quantile(0.90),rawdf['glucose'])

### fio2, creatinine and ph have a lot of values (Around 40,000) that are -1, hence we will just trim them from the dataset.

In [74]:
index = rawdf[(rawdf['fio2']==-1)|(rawdf['creatinine']==-1)|(rawdf['ph']==-1)].index
#index = rawdf[(rawdf['ph']==-1)].index
rawdf.drop(index=index,inplace=True)
rawdf

        patientunitstayid  unitvisitnumber  ... hosp_alive  icu_alive
0                  224606                1  ...          1          1
3                  211144                1  ...          1          1
5                  151900                1  ...          1          1
11                 151179                1  ...          0          1
31                 169525                1  ...          1          1
...                   ...              ...  ...        ...        ...
171160            3340781                1  ...          1          1
171168            3329043                1  ...          1          1
171169            3351729                1  ...          1          1
171170            3340416                1  ...          1          1
171176            3340712                1  ...          1          1

[21633 rows x 23 columns]

In [75]:
rawdf.describe()

       patientunitstayid  unitvisitnumber  ...  ethnicity_code     diag_code
count       2.163300e+04          21633.0  ...    21633.000000  21633.000000
mean        1.737257e+06              1.0  ...        1.949938    181.026718
std         1.064091e+06              0.0  ...        1.013563    117.387159
min         1.412030e+05              1.0  ...        0.000000      0.000000
25%         8.198420e+05              1.0  ...        2.000000     72.000000
50%         1.576735e+06              1.0  ...        2.000000    146.000000
75%         2.914108e+06              1.0  ...        2.000000    316.000000
max         3.353251e+06              1.0  ...        5.000000    389.000000

[8 rows x 15 columns]

In [76]:
print(f'90th Quantile for ICU stay - {rawdf.ICUstay.quantile(0.90)}')
print(f'90th Quantile for creatinine - {rawdf.creatinine.quantile(0.90)}')

90th Quantile for ICU stay - 14.44694444444444
90th Quantile for creatinine - 3.37

### Fixing distribution of creatinine and ICU stay (notice the max value)

In [77]:
ind = rawdf[(rawdf['creatinine']> rawdf['creatinine'].quantile(0.90))|(rawdf['ICUstay'] > rawdf['ICUstay'].quantile(0.90))].index
rawdf.drop(index=ind,inplace=True)
rawdf

        patientunitstayid  unitvisitnumber  ... hosp_alive  icu_alive
0                  224606                1  ...          1          1
3                  211144                1  ...          1          1
5                  151900                1  ...          1          1
11                 151179                1  ...          0          1
31                 169525                1  ...          1          1
...                   ...              ...  ...        ...        ...
171160            3340781                1  ...          1          1
171168            3329043                1  ...          1          1
171169            3351729                1  ...          1          1
171170            3340416                1  ...          1          1
171176            3340712                1  ...          1          1

[17561 rows x 23 columns]

In [78]:
rawdf.describe()

       patientunitstayid  unitvisitnumber  ...  ethnicity_code     diag_code
count       1.756100e+04          17561.0  ...    17561.000000  17561.000000
mean        1.739771e+06              1.0  ...        1.965150    175.593189
std         1.061213e+06              0.0  ...        0.968369    116.286294
min         1.412030e+05              1.0  ...        0.000000      0.000000
25%         8.235880e+05              1.0  ...        2.000000     64.000000
50%         1.577869e+06              1.0  ...        2.000000    143.000000
75%         2.908853e+06              1.0  ...        2.000000    304.000000
max         3.353251e+06              1.0  ...        5.000000    389.000000

[8 rows x 15 columns]

### Dropping columns that are not required

In [79]:
rawdf = rawdf.drop(['unitvisitnumber','patientunitstayid','apacheadmissiondx','ethnicity','gender','unitdischargestatus','hospitaldischargestatus'],axis=1)
rawdf

         age  admissionheight  admissionweight  ...  gender_code  hosp_alive  icu_alive
0       76.0            160.0             79.9  ...            1           1          1
3       67.0            160.0             86.2  ...            1           1          1
5       66.0            165.1             86.8  ...            1           1          1
11      59.0            155.0             79.9  ...            1           0          1
31      59.0            162.6             74.1  ...            1           1          1
...      ...              ...              ...  ...          ...         ...        ...
171160  79.0            182.9             92.1  ...            0           1          1
171168  67.0            172.7            117.4  ...            0           1          1
171169  64.0            182.9            112.5  ...            0           1          1
171170  64.0            182.9            109.1  ...            0           1          1
171176  69.0            182.9             95.0  ...            0           1          1

[17561 rows x 16 columns]

In [80]:
rawdf = rawdf.rename(columns={'admissionheight':'height','admissionweight':'weight','ethnicity_code':'ethnicity','gender_code':'gender','ICUstay':'los'})
rawdf

         age  height  weight  ...  gender  hosp_alive  icu_alive
0       76.0   160.0    79.9  ...       1           1          1
3       67.0   160.0    86.2  ...       1           1          1
5       66.0   165.1    86.8  ...       1           1          1
11      59.0   155.0    79.9  ...       1           0          1
31      59.0   162.6    74.1  ...       1           1          1
...      ...     ...     ...  ...     ...         ...        ...
171160  79.0   182.9    92.1  ...       0           1          1
171168  67.0   172.7   117.4  ...       0           1          1
171169  64.0   182.9   112.5  ...       0           1          1
171170  64.0   182.9   109.1  ...       0           1          1
171176  69.0   182.9    95.0  ...       0           1          1

[17561 rows x 16 columns]

## Converting this data to csv file

In [0]:
rawdf.to_csv(r'C:\Users\sumai\Documents\github\medicaldata\rawdata.csv',index=False,header=True)