<a href="https://colab.research.google.com/github/sumaiya08/medicaldata/blob/master/EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Access data using Google BigQuery.
from google.colab import auth
from google.cloud import bigquery

In [3]:
auth.authenticate_user()
print('Authenticated')

Authenticated

In [0]:
project_id='eicudata'

Total number of hospitals in the database -

In [0]:
%%bigquery --project $project_id totalhosp
Select COUNT (DISTINCT hospitalid)
from `physionet-data.eicu_crd.hospital`;

In [6]:
totalhosp

   f0_
0  208

Total number of ICU'S -

In [0]:
%%bigquery --project $project_id totalicu
SELECT COUNT (DISTINCT wardid )
FROM `physionet-data.eicu_crd.patient`

In [8]:
totalicu

   f0_
0  335

Procedures that have ICD 9/10 codes available -

In [0]:
%%bigquery --project $project_id icdcode
select diagnosisstring,icd9code,count(*) as count
from `physionet-data.eicu_crd.diagnosis` 
where icd9code is not null
group by diagnosisstring, icd9code

In [10]:
icdcode

                                        diagnosisstring  ... count
0     cardiovascular|shock / hypotension|hypovolemic...  ...  3249
1     cardiovascular|diseases of the aorta|aortic an...  ...   727
2     cardiovascular|diseases of the aorta|aortic an...  ...    81
3     pulmonary|disorders of the airways|asthma / br...  ...  7593
4     oncology|hematologic malignancy|leukemia|chron...  ...   394
...                                                 ...  ...   ...
3928  renal|disorder of acid base|metabolic acidosis...  ...     5
3929   surgery|neurosurgical issues|seizures|from tumor  ...     1
3930  pulmonary|respiratory failure|acute respirator...  ...     1
3931  surgery|respiratory failure|ventilatory failur...  ...     1
3932  surgery|respiratory failure|ventilatory failur...  ...     1

[3933 rows x 3 columns]

Top 10 diseases common amongst patients -

In [0]:
%%bigquery --project $project_id topdiseases 
select apacheadmissiondx, count(apacheadmissiondx) as count
from `physionet-data.eicu_crd.patient` 
group by apacheadmissiondx 
order by count(apacheadmissiondx) desc
limit 10;

In [12]:
topdiseases

                                   apacheadmissiondx  count
0                                                     22996
1                                  Sepsis, pulmonary   8862
2                  Infarction, acute myocardial (MI)   7228
3               CVA, cerebrovascular accident/stroke   6647
4                      CHF, congestive heart failure   6617
5              Sepsis, renal/UTI (including bladder)   5273
6      Rhythm disturbance (atrial, supraventricular)   4827
7                              Diabetic ketoacidosis   4825
8  Cardiac arrest (with or without respiratory ar...   4580
9        CABG alone, coronary artery bypass grafting   4543

Identifying patients with heart diseases using related drug name -

In [0]:
%%bigquery --project $project_id heartpatients 
select gender, age, ethnicity,apacheadmissiondx,drugname
from `physionet-data.eicu_crd.admissiondrug` a
join `physionet-data.eicu_crd.patient` b ON (
a.patientunitstayid =b.patientunitstayid
)
where drugname like '%CLOPIDOGREL%' # can also look for drug WARFARIN

In [14]:
heartpatients

      gender  ...                                           drugname
0       Male  ...  CLOPIDOGREL                                   ...
1       Male  ...  CLOPIDOGREL                                   ...
2     Female  ...  CLOPIDOGREL                                   ...
3       Male  ...  CLOPIDOGREL                                   ...
4       Male  ...  CLOPIDOGREL                                   ...
...      ...  ...                                                ...
1724  Female  ...  CLOPIDOGREL                                   ...
1725    Male  ...  CLOPIDOGREL                                   ...
1726    Male  ...  CLOPIDOGREL                                   ...
1727    Male  ...  CLOPIDOGREL                                   ...
1728    Male  ...  CLOPIDOGREL                                   ...

[1729 rows x 5 columns]

Indentifying diabetic patients using drug name -

In [0]:
%%bigquery --project $project_id diabpatients 
select gender,age,ethnicity,apacheadmissiondx,admissionheight,drugname
from `physionet-data.eicu_crd.admissiondrug` a
join `physionet-data.eicu_crd.patient` b ON (
a.patientunitstayid =b.patientunitstayid
)
where drugname like '%GLUCAGON%'    #can also look for drug HUMULIN

In [16]:
diabpatients

     gender  ...                                           drugname
0    Female  ...  GLUCAGON,HUMAN RECOMBINANT                    ...
1    Female  ...  GLUCAGON,HUMAN RECOMBINANT                    ...
2    Female  ...  GLUCAGON,HUMAN RECOMBINANT                    ...
3    Female  ...  GLUCAGON,HUMAN RECOMBINANT                    ...
4    Female  ...  GLUCAGON,HUMAN RECOMBINANT                    ...
..      ...  ...                                                ...
143  Female  ...  GLUCAGON EMERGENCY KIT                        ...
144  Female  ...  GLUCAGON EMERGENCY KIT                        ...
145    Male  ...  GLUCAGON EMERGENCY KIT                        ...
146    Male  ...  GLUCAGON EMERGENCY KIT                        ...
147  Female  ...  GLUCAGON EMERGENCY KIT                        ...

[148 rows x 6 columns]

Types of procedures patients come for -

In [0]:
%%bigquery --project $project_id procedures 
select treatmentstring, count (treatmentstring) as count
from `physionet-data.eicu_crd.treatment` 
group by treatmentstring
order by count(treatmentstring) desc
limit 5;

In [20]:
procedures

                                     treatmentstring   count
0  pulmonary|ventilation and oxygenation|mechanic...  117481
1  pulmonary|radiologic procedures / bronchoscopy...   65148
2  neurologic|pain / agitation / altered mentatio...   46055
3             renal|urinary catheters|foley catheter   40672
4  cardiovascular|intravenous fluid|normal saline...   40522

Identifying patients that underwent heart procedures -

In [0]:
%%bigquery --project $project_id heartprocedure 
select gender,age,ethnicity,apacheadmissiondx,treatmentstring
from `physionet-data.eicu_crd.treatment`  a
join `physionet-data.eicu_crd.patient` b ON (
a.patientunitstayid =b.patientunitstayid
)
where a.treatmentstring  like '%cardio%'

In [22]:
heartprocedure

        gender  ...                                    treatmentstring
0       Female  ...                 cardiovascular|arrhythmias|digoxin
1       Female  ...                 cardiovascular|arrhythmias|digoxin
2       Female  ...  cardiovascular|arrhythmias|calcium channel blo...
3       Female  ...  cardiovascular|arrhythmias|calcium channel blo...
4         Male  ...  cardiovascular|non-operative procedures|diagno...
...        ...  ...                                                ...
860530    Male  ...  cardiovascular|hypertension|vasodilating agent...
860531    Male  ...  cardiovascular|myocardial ischemia / infarctio...
860532    Male  ...  cardiovascular|intravenous fluid|Lactated Ring...
860533    Male  ...  cardiovascular|intravenous fluid|normal saline...
860534    Male  ...  cardiovascular|arrhythmias|antiarrhythmics|cla...

[860535 rows x 5 columns]

Indentifying heart patients that die before being released from their stay -

In [0]:
%%bigquery --project $project_id death_heart
select gender, age, ethnicity,apacheadmissiondx,hospitaldischargestatus
from `physionet-data.eicu_crd.patient` 
where apacheadmissiondx like '%Cardi%' and hospitaldischargestatus like '%Expire%';

In [24]:
death_heart

      gender  ... hospitaldischargestatus
0       Male  ...                 Expired
1     Female  ...                 Expired
2       Male  ...                 Expired
3       Male  ...                 Expired
4       Male  ...                 Expired
...      ...  ...                     ...
2461    Male  ...                 Expired
2462  Female  ...                 Expired
2463    Male  ...                 Expired
2464    Male  ...                 Expired
2465    Male  ...                 Expired

[2466 rows x 5 columns]

In [31]:
print('Number of Heart patients that die during their stay in the hospital - ', len(death_heart))

Number of Heart patients that die during their stay in the hospital -  2466

Identifying diabetic patients that die before being released from the stay -

In [0]:
%%bigquery --project $project_id death_diab
select gender, age, ethnicity,apacheadmissiondx,hospitaldischargestatus
from `physionet-data.eicu_crd.patient` 
where apacheadmissiondx like '%Diab%' and hospitaldischargestatus like '%Expire%'

In [29]:
death_diab

    gender  ... hospitaldischargestatus
0     Male  ...                 Expired
1     Male  ...                 Expired
2   Female  ...                 Expired
3   Female  ...                 Expired
4   Female  ...                 Expired
5   Female  ...                 Expired
6     Male  ...                 Expired
7     Male  ...                 Expired
8   Female  ...                 Expired
9   Female  ...                 Expired
10    Male  ...                 Expired
11  Female  ...                 Expired
12  Female  ...                 Expired
13  Female  ...                 Expired
14    Male  ...                 Expired
15    Male  ...                 Expired
16    Male  ...                 Expired
17  Female  ...                 Expired
18  Female  ...                 Expired
19    Male  ...                 Expired
20    Male  ...                 Expired
21    Male  ...                 Expired
22    Male  ...                 Expired
23  Female  ...                 Expired
24  Female  ...                 Expired
25    Male  ...                 Expired
26    Male  ...                 Expired
27    Male  ...                 Expired
28    Male  ...                 Expired
29    Male  ...                 Expired
30    Male  ...                 Expired
31  Female  ...                 Expired
32  Female  ...                 Expired
33    Male  ...                 Expired
34  Female  ...                 Expired
35  Female  ...                 Expired
36    Male  ...                 Expired
37  Female  ...                 Expired
38  Female  ...                 Expired

[39 rows x 5 columns]

In [30]:
print("Number of Diabetic patients that die before being released from their stay -", len(death_diab))

Number of Diabetic patients that die before being released from their stay - 39