<a href="https://colab.research.google.com/github/sumaiya08/medicaldata/blob/master/EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Access data using Google BigQuery.
from google.colab import auth
from google.cloud import bigquery

In [0]:
auth.authenticate_user()
#4/zgFrSdkE_AxQq4luovYfjoMlyTKIUwm15-SfE2WS7TwWBu4cBwFK3Zw

In [0]:
project_id='eicudata'

In [0]:
%%bigquery --project $project_id patient
SELECT *
FROM `physionet-data.eicu_crd_demo.patient`

In [0]:
print('Number of patients: \n', len(patient))
patient.head()

Number of patients:
 1447

   patientunitstayid  patienthealthsystemstayid  ... unitdischargestatus  uniquepid
0             210014                     182373  ...               Alive  002-10665
1             200026                     174624  ...               Alive  002-10715
2             221131                     190993  ...               Alive  002-10249
3             221215                     191054  ...               Alive  002-10627
4             217835                     188445  ...               Alive  002-10324

[5 rows x 29 columns]