<a href="https://colab.research.google.com/github/sumaiya08/medicaldata/blob/master/EDApart2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Access data using Google BigQuery.
from google.colab import auth
from google.cloud import bigquery

In [0]:
auth.authenticate_user()
print('Authenticated')

In [0]:
project_id='eicudata'

Total number of hospitals in the database -

In [0]:
%%bigquery --project $project_id totalhosp
Select COUNT (DISTINCT hospitalid)
from `physionet-data.eicu_crd.hospital`;

In [19]:
totalhosp

   f0_
0  208

Total number of ICU'S -

In [0]:
%%bigquery --project $project_id totalicu
SELECT COUNT (DISTINCT wardid )
FROM `physionet-data.eicu_crd.patient`

In [21]:
totalicu

   f0_
0  335

Procedures that have ICD 9/10 codes available -

In [0]:
%%bigquery --project $project_id icdcode
select diagnosisstring,icd9code,count(*) as count
from `physionet-data.eicu_crd.diagnosis` 
where icd9code is not null
group by diagnosisstring, icd9code

In [25]:
icdcode

                                        diagnosisstring  ... count
0     cardiovascular|shock / hypotension|hypovolemic...  ...  3249
1     cardiovascular|diseases of the aorta|aortic an...  ...   727
2     cardiovascular|diseases of the aorta|aortic an...  ...    81
3     pulmonary|disorders of the airways|asthma / br...  ...  7593
4     oncology|hematologic malignancy|leukemia|chron...  ...   394
...                                                 ...  ...   ...
3928  renal|disorder of acid base|metabolic acidosis...  ...     5
3929   surgery|neurosurgical issues|seizures|from tumor  ...     1
3930  pulmonary|respiratory failure|acute respirator...  ...     1
3931  surgery|respiratory failure|ventilatory failur...  ...     1
3932  surgery|respiratory failure|ventilatory failur...  ...     1

[3933 rows x 3 columns]

Top 10 diseases common amongst patients -

In [0]:
%%bigquery --project $project_id topdiseases 
select apacheadmissiondx, count(apacheadmissiondx) as count
from `physionet-data.eicu_crd.patient` 
group by apacheadmissiondx 
order by count(apacheadmissiondx) desc
limit 10;

In [37]:
topdiseases

                                   apacheadmissiondx  count
0                                                     22996
1                                  Sepsis, pulmonary   8862
2                  Infarction, acute myocardial (MI)   7228
3               CVA, cerebrovascular accident/stroke   6647
4                      CHF, congestive heart failure   6617
5              Sepsis, renal/UTI (including bladder)   5273
6      Rhythm disturbance (atrial, supraventricular)   4827
7                              Diabetic ketoacidosis   4825
8  Cardiac arrest (with or without respiratory ar...   4580
9        CABG alone, coronary artery bypass grafting   4543

Identifying patients with heart diseases using related drug name -

In [0]:
%%bigquery --project $project_id heartpatients 
select gender, age, ethnicity,apacheadmissiondx,drugname
from `physionet-data.eicu_crd.admissiondrug` a
join `physionet-data.eicu_crd.patient` b ON (
a.patientunitstayid =b.patientunitstayid
)
where drugname like '%CLOPIDOGREL%' # can also look for drug WARFARIN

In [42]:
heartpatients

      gender  ...                                           drugname
0       Male  ...  CLOPIDOGREL                                   ...
1       Male  ...  CLOPIDOGREL                                   ...
2     Female  ...  CLOPIDOGREL                                   ...
3       Male  ...  CLOPIDOGREL                                   ...
4       Male  ...  CLOPIDOGREL                                   ...
...      ...  ...                                                ...
1724  Female  ...  CLOPIDOGREL                                   ...
1725    Male  ...  CLOPIDOGREL                                   ...
1726    Male  ...  CLOPIDOGREL                                   ...
1727    Male  ...  CLOPIDOGREL                                   ...
1728    Male  ...  CLOPIDOGREL                                   ...

[1729 rows x 5 columns]