<a href="https://colab.research.google.com/github/sumaiya08/medicaldata/blob/master/extract_features.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pandas.util.testing as tm
sns.set()
# Access data using Google BigQuery.
from google.colab import auth
from google.cloud import bigquery

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [0]:
auth.authenticate_user()
print('Authenticated')

Authenticated

In [0]:
project_id='eicudata'

# Extracting features from the eICU dataset for Mortality and los prediction

In [0]:
%%bigquery --project $project_id rawdf
select b.patientunitstayid, gender,age,ethnicity,apacheadmissiondx,admissionheight,admissionweight, temperature,respiratoryrate,heartrate,glucose,fio2,creatinine,ph,hospitaldischargestatus,unitdischargestatus,(unitdischargeoffset-hospitaladmitoffset)/60/24 as ICUstay
from `physionet-data.eicu_crd.apacheapsvar` a
join `physionet-data.eicu_crd.patient` b ON (
a.patientunitstayid =b.patientunitstayid
)
order by uniquepid

In [0]:
rawdf

        patientunitstayid  gender  ... unitdischargestatus   ICUstay
0                  224606  Female  ...               Alive  3.031250
1                  204602  Female  ...               Alive  4.201389
2                  157016  Female  ...               Alive  5.210417
3                  211144  Female  ...               Alive  3.893056
4                  221005  Female  ...               Alive  2.803472
...                   ...     ...  ...                 ...       ...
171172            3351785    Male  ...               Alive  1.790278
171173            3340321    Male  ...               Alive  2.689583
171174            3345874    Male  ...               Alive  1.968056
171175            3352628    Male  ...               Alive  1.481250
171176            3340712    Male  ...               Alive  5.874306

[171177 rows x 17 columns]

## Finding number of missing or null values -

In [0]:
rawdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171177 entries, 0 to 171176
Data columns (total 17 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   patientunitstayid        171177 non-null  int64
 1   gender                   171177 non-null  object
 2   age                      171177 non-null  object
 3   ethnicity                171177 non-null  object
 4   apacheadmissiondx        171177 non-null  object
 5   admissionheight          167853 non-null  float64
 6   admissionweight          164555 non-null  float64
 7   temperature              171177 non-null  float64
 8   respiratoryrate          171177 non-null  float64
 9   heartrate                171177 non-null  int64
 10  glucose                  171177 non-null  float64
 11  fio2                     171177 non-null  float64
 12  creatinine               171177 non-null  float64
 13  ph                       171177 non-null  float64
 14  hospitaldischargestatus  171177 non-null  object
 15  unitdischargestatus      171177 non-null  object
 16  ICUstay                  171177 non-null  float64
dtypes: float64(9), int64(2), object(6)
memory usage: 22.2+ MB

## Statistics of the features for preprocessing -

In [0]:
rawdf.describe(include='all')

        patientunitstayid  gender  ... unitdischargestatus        ICUstay
count        1.711770e+05  171177  ...              171177  171177.000000
unique                NaN       5  ...                   3            NaN
top                   NaN    Male  ...               Alive            NaN
freq                  NaN   92468  ...              161148            NaN
mean         1.747701e+06     NaN  ...                 NaN       4.254612
std          9.988850e+05     NaN  ...                 NaN       6.893154
min          1.411680e+05     NaN  ...                 NaN      -0.210417
25%          9.555340e+05     NaN  ...                 NaN       1.209028
50%          1.670376e+06     NaN  ...                 NaN       2.236111
75%          2.743419e+06     NaN  ...                 NaN       4.772222
max          3.353263e+06     NaN  ...                 NaN     749.036111

[11 rows x 17 columns]

## Impute missing values for Admission height and Admission weight

In [0]:
rawdf['admissionheight']=rawdf.admissionheight.fillna(rawdf.admissionheight.median())
rawdf['admissionweight']=rawdf.admissionweight.fillna(rawdf.admissionweight.median())

In [0]:
rawdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171177 entries, 0 to 171176
Data columns (total 17 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   patientunitstayid        171177 non-null  int64
 1   gender                   171177 non-null  object
 2   age                      171177 non-null  object
 3   ethnicity                171177 non-null  object
 4   apacheadmissiondx        171177 non-null  object
 5   admissionheight          171177 non-null  float64
 6   admissionweight          171177 non-null  float64
 7   temperature              171177 non-null  float64
 8   respiratoryrate          171177 non-null  float64
 9   heartrate                171177 non-null  int64
 10  glucose                  171177 non-null  float64
 11  fio2                     171177 non-null  float64
 12  creatinine               171177 non-null  float64
 13  ph                       171177 non-null  float64
 14  hospitaldischargestatus  171177 non-null  object
 15  unitdischargestatus      171177 non-null  object
 16  ICUstay                  171177 non-null  float64
dtypes: float64(9), int64(2), object(6)
memory usage: 22.2+ MB

## Convert age values to numeric

In [0]:
rawdf['age'].replace({'> 89': '90'}, inplace=True)
rawdf['age']=rawdf['age'].apply(pd.to_numeric)

In [0]:
rawdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171177 entries, 0 to 171176
Data columns (total 17 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   patientunitstayid        171177 non-null  int64
 1   gender                   171177 non-null  object
 2   age                      171109 non-null  float64
 3   ethnicity                171177 non-null  object
 4   apacheadmissiondx        171177 non-null  object
 5   admissionheight          171177 non-null  float64
 6   admissionweight          171177 non-null  float64
 7   temperature              171177 non-null  float64
 8   respiratoryrate          171177 non-null  float64
 9   heartrate                171177 non-null  int64
 10  glucose                  171177 non-null  float64
 11  fio2                     171177 non-null  float64
 12  creatinine               171177 non-null  float64
 13  ph                       171177 non-null  float64
 14  hospitaldischargestatus  171177 non-null  object
 15  unitdischargestatus      171177 non-null  object
 16  ICUstay                  171177 non-null  float64
dtypes: float64(10), int64(2), object(5)
memory usage: 22.2+ MB