# Feature Extraction for RNN
### Importing necessary libraries

In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.compose import ColumnTransformer
sns.set()
# Access data using Google BigQuery.
from google.colab import auth
from google.cloud import bigquery
from google.colab import drive
drive.mount('/content/gdrive')
from google.colab import files

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [2]:
auth.authenticate_user()
print('Authenticated')

Authenticated

### Query to obtain features

In [3]:
project_id='eicudata'

In [4]:
%%bigquery --project $project_id rawdf
select b.uniquepid, b.patienthealthsystemstayid,b.patientunitstayid,gender,age,ethnicity,apacheadmissiondx,admissionheight,admissionweight, eyes, motor, verbal, (eyes+motor+verbal) as GCSTotal, temperature,respiratoryrate,heartrate,glucose,(select min(labresult)
from `physionet-data.eicu_crd.lab`
where patientunitstayid = a.patientunitstayid and labname like '%O2 Sat%'
group by labname) as O2,fio2,ph,hospitaldischargestatus,unitdischargestatus,(unitdischargeoffset-hospitaladmitoffset)/60/24 as ICUstay
from `physionet-data.eicu_crd.apacheapsvar` a
join `physionet-data.eicu_crd.patient` b ON (
a.patientunitstayid =b.patientunitstayid
)
order by uniquepid;

In [5]:
rawdf

        uniquepid  patienthealthsystemstayid  ...  unitdischargestatus   ICUstay
0       002-10009                     193705  ...                Alive  3.031250
1       002-10018                     178200  ...                Alive  4.201389
2       002-10034                     141169  ...                Alive  5.210417
3       002-10050                     183274  ...                Alive  3.893056
4       002-10050                     190893  ...                Alive  2.803472
...           ...                        ...  ...                  ...       ...
171172   035-9957                    2741786  ...                Alive  1.790278
171173   035-9959                    2731423  ...                Alive  2.689583
171174    035-996                    2736458  ...                Alive  1.968056
171175   035-9966                    2742533  ...                Alive  1.481250
171176   035-9975                    2731781  ...                Alive  5.874306

[171177 rows x 23 columns]

### We will consider patients that have had multiple hospitalizations -

In [6]:
rawdf = rawdf[rawdf.groupby('patienthealthsystemstayid').patienthealthsystemstayid.transform(len) > 1]
rawdf

        uniquepid  patienthealthsystemstayid  ...  unitdischargestatus    ICUstay
20      002-10148                     172762  ...                Alive   0.743750
21      002-10148                     172762  ...                Alive   8.811806
22      002-10148                     172762  ...                Alive   3.343750
87      002-10556                     199471  ...                Alive   2.638194
88      002-10556                     199471  ...                Alive  11.461806
...           ...                        ...  ...                  ...        ...
171158   035-9870                    2731845  ...                Alive   2.554167
171159   035-9870                    2731845  ...                Alive  15.231250
171160   035-9870                    2731845  ...                Alive  11.479167
171164   035-9891                    2727434  ...                Alive   2.759722
171165   035-9891                    2727434  ...                Alive   5.844444

[20080 rows x 23 columns]

### Query to obtain some vital features

In [7]:
%%bigquery --project $project_id vital
select patientunitstayid, avg(systemicsystolic) as SystolicBP, avg(systemicdiastolic) as DiastolicBP, avg((2*systemicdiastolic + systemicsystolic)/3) as MAP
from `physionet-data.eicu_crd.vitalperiodic` 
where systemicsystolic & systemicdiastolic is not null
group by patientunitstayid
order by patientunitstayid

In [8]:
vital

       patientunitstayid  SystolicBP  DiastolicBP        MAP
0                 141168   92.707317    51.000000  64.902439
1                 141194   92.828488    50.636628  64.700581
2                 141227  123.072581    78.064516  93.067204
3                 141233  103.366634    55.650501  71.555879
4                 141244  132.334862    57.155963  82.215596
...                  ...         ...          ...        ...
46655            3353194  115.167622    61.166189  79.166667
46656            3353197  122.685241    49.463950  73.871047
46657            3353199  151.571674    41.611159  78.264664
46658            3353216  134.452465    77.519366  96.497066
46659            3353251  131.617030    57.336898  82.096942

[46660 rows x 4 columns]

### Merging all the features together

In [9]:
newrawdf = pd.merge(left=rawdf,right=vital,how='left')

In [10]:
newrawdf

       uniquepid  patienthealthsystemstayid  ...  DiastolicBP        MAP
0      002-10148                     172762  ...    41.797170  72.466981
1      002-10148                     172762  ...    42.271186  70.859985
2      002-10148                     172762  ...          NaN        NaN
3      002-10556                     199471  ...          NaN        NaN
4      002-10556                     199471  ...          NaN        NaN
...          ...                        ...  ...          ...        ...
20075   035-9870                    2731845  ...    61.205882  84.260669
20076   035-9870                    2731845  ...          NaN        NaN
20077   035-9870                    2731845  ...    47.913669  68.254197
20078   035-9891                    2727434  ...          NaN        NaN
20079   035-9891                    2727434  ...    53.719858  80.785658

[20080 rows x 26 columns]

### Checking for null values -

In [11]:
newrawdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20080 entries, 0 to 20079
Data columns (total 26 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   uniquepid                  20080 non-null  object
 1   patienthealthsystemstayid  20080 non-null  int64
 2   patientunitstayid          20080 non-null  int64
 3   gender                     20080 non-null  object
 4   age                        20080 non-null  object
 5   ethnicity                  20080 non-null  object
 6   apacheadmissiondx          20080 non-null  object
 7   admissionheight            19987 non-null  float64
 8   admissionweight            18208 non-null  float64
 9   eyes                       20080 non-null  int64
 10  motor                      20080 non-null  int64
 11  verbal                     20080 non-null  int64
 12  GCSTotal                   20080 non-null  int64
 13  temperature                20080 non-null  float64
 14  respiratoryrate            20080 non-null  float64
 15  heartrate                  20080 non-null  int64
 16  glucose                    20080 non-null  float64
 17  O2                         9195 non-null   float64
 18  fio2                       20080 non-null  float64
 19  ph                         20080 non-null  float64
 20  hospitaldischargestatus    20080 non-null  object
 21  unitdischargestatus        20080 non-null  object
 22  ICUstay                    20080 non-null  float64
 23  SystolicBP                 5573 non-null   float64
 24  DiastolicBP                5573 non-null   float64
 25  MAP                        5573 non-null   float64
dtypes: float64(12), int64(7), object(7)
memory usage: 4.1+ MB

In [12]:
newrawdf.describe(include='all')

        uniquepid  patienthealthsystemstayid  ...  DiastolicBP          MAP
count       20080               2.008000e+04  ...  5573.000000  5573.000000
unique       9196                        NaN  ...          NaN          NaN
top     033-20426                        NaN  ...          NaN          NaN
freq           10                        NaN  ...          NaN          NaN
mean          NaN               1.331593e+06  ...    59.639779    80.262657
std           NaN               8.352836e+05  ...    14.679725    14.734310
min           NaN               1.290200e+05  ...   -76.000000   -76.000000
25%           NaN               6.187980e+05  ...    52.073030    73.129819
50%           NaN               1.214896e+06  ...    58.798077    79.414477
75%           NaN               2.194127e+06  ...    65.864198    86.532832
max           NaN               2.743055e+06  ...   305.000000   307.666667

[11 rows x 26 columns]

### Imputing height and weight missing values

In [13]:
newrawdf['admissionheight']=newrawdf.admissionheight.fillna(newrawdf.admissionheight.median())
newrawdf['admissionweight']=newrawdf.admissionweight.fillna(newrawdf.admissionweight.median())

### Converting age column to numeric datatype

In [14]:
newrawdf['age'].replace({'> 89': '90'}, inplace=True)
newrawdf['age']=newrawdf['age'].apply(pd.to_numeric)

In [15]:
newrawdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20080 entries, 0 to 20079
Data columns (total 26 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   uniquepid                  20080 non-null  object
 1   patienthealthsystemstayid  20080 non-null  int64
 2   patientunitstayid          20080 non-null  int64
 3   gender                     20080 non-null  object
 4   age                        20078 non-null  float64
 5   ethnicity                  20080 non-null  object
 6   apacheadmissiondx          20080 non-null  object
 7   admissionheight            20080 non-null  float64
 8   admissionweight            20080 non-null  float64
 9   eyes                       20080 non-null  int64
 10  motor                      20080 non-null  int64
 11  verbal                     20080 non-null  int64
 12  GCSTotal                   20080 non-null  int64
 13  temperature                20080 non-null  float64
 14  respiratoryrate            20080 non-null  float64
 15  heartrate                  20080 non-null  int64
 16  glucose                    20080 non-null  float64
 17  O2                         9195 non-null   float64
 18  fio2                       20080 non-null  float64
 19  ph                         20080 non-null  float64
 20  hospitaldischargestatus    20080 non-null  object
 21  unitdischargestatus        20080 non-null  object
 22  ICUstay                    20080 non-null  float64
 23  SystolicBP                 5573 non-null   float64
 24  DiastolicBP                5573 non-null   float64
 25  MAP                        5573 non-null   float64
dtypes: float64(13), int64(7), object(6)
memory usage: 4.1+ MB

### Removing missing values for gender,ethnicity and hospital discharge status

In [16]:
missing = newrawdf[(newrawdf['gender'] == '') |(newrawdf['gender'] == 'Other')|(newrawdf['gender'] == 'Unknown')| (newrawdf['ethnicity'] == '')|(newrawdf['hospitaldischargestatus']=='')].index
newrawdf = newrawdf.drop(index=missing)
newrawdf = newrawdf.dropna()

In [17]:
newrawdf.isnull().sum()

uniquepid                    0
patienthealthsystemstayid    0
patientunitstayid            0
gender                       0
age                          0
ethnicity                    0
apacheadmissiondx            0
admissionheight              0
admissionweight              0
eyes                         0
motor                        0
verbal                       0
GCSTotal                     0
temperature                  0
respiratoryrate              0
heartrate                    0
glucose                      0
O2                           0
fio2                         0
ph                           0
hospitaldischargestatus      0
unitdischargestatus          0
ICUstay                      0
SystolicBP                   0
DiastolicBP                  0
MAP                          0
dtype: int64

In [18]:
newrawdf

       uniquepid  patienthealthsystemstayid  ...  DiastolicBP        MAP
10     002-10669                     143252  ...    52.642066  71.816728
22     002-11177                     138012  ...    56.379923  76.885199
26     002-11414                     173515  ...    46.647906  64.660558
37     002-12088                     163687  ...    55.399433  68.862764
42     002-12226                     189698  ...    43.000000  62.109532
...          ...                        ...  ...          ...        ...
20067   035-9614                    2738054  ...    54.439252  78.071651
20069     035-97                    2732269  ...    55.179724  72.090630
20073   035-9858                    2724676  ...    61.807882  77.561576
20075   035-9870                    2731845  ...    61.205882  84.260669
20079   035-9891                    2727434  ...    53.719858  80.785658

[3634 rows x 26 columns]

In [20]:
#ewrawdf['apacheadmissiondx'].unique()